@font-face {
  font-family: 'Geist Sans';
  src: url('./GeistVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./GeistMonoVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* ibm-plex-mono-latin-100-normal */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    url('./001-IBMPlexMono/ibm-plex-mono-latin-100-normal.woff2')
      format('woff2'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-100-normal.woff') format('woff'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-100-normal.ttf')
      format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-200-normal */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    url('./001-IBMPlexMono/ibm-plex-mono-latin-200-normal.woff2')
      format('woff2'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-200-normal.woff') format('woff'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-200-normal.ttf')
      format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-300-normal */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    url('./001-IBMPlexMono/ibm-plex-mono-latin-300-normal.woff2')
      format('woff2'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-300-normal.woff') format('woff'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-300-normal.ttf')
      format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-400-normal */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url('./001-IBMPlexMono/ibm-plex-mono-latin-400-normal.woff2')
      format('woff2'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-400-normal.woff') format('woff'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-400-normal.ttf')
      format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-500-normal */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url('./001-IBMPlexMono/ibm-plex-mono-latin-500-normal.woff2')
      format('woff2'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-500-normal.woff') format('woff'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-500-normal.ttf')
      format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-600-normal */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    url('./001-IBMPlexMono/ibm-plex-mono-latin-600-normal.woff2')
      format('woff2'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-600-normal.woff') format('woff'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-600-normal.ttf')
      format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-700-normal */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url('./001-IBMPlexMono/ibm-plex-mono-latin-700-normal.woff2')
      format('woff2'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-700-normal.woff') format('woff'),
    url('./001-IBMPlexMono/ibm-plex-mono-latin-700-normal.ttf')
      format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 100;
  font-style: normal;
  src: url('./010-LabilGrotesk/LabilGroteskLite-Hairline.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 200;
  font-style: normal;
  src: url('./010-LabilGrotesk/LabilGroteskLite-Fine.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 300;
  font-style: normal;
  src: url('./010-LabilGrotesk/LabilGroteskLite-Thin.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 400;
  font-style: normal;
  src: url('./010-LabilGrotesk/LabilGroteskLite-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 500;
  font-style: normal;
  src: url('./010-LabilGrotesk/LabilGroteskLite-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 600;
  font-style: normal;
  src: url('./010-LabilGrotesk/LabilGroteskLite-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 700;
  font-style: normal;
  src: url('./010-LabilGrotesk/LabilGroteskLite-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 800;
  font-style: normal;
  src: url('./010-LabilGrotesk/LabilGroteskLite-Black.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 100;
  font-style: italic;
  src: url('./010-LabilGrotesk/LabilGroteskLite-HairlineItalic.woff')
    format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 200;
  font-style: italic;
  src: url('./010-LabilGrotesk/LabilGroteskLite-FineItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 300;
  font-style: italic;
  src: url('./010-LabilGrotesk/LabilGroteskLite-ThinItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 400;
  font-style: italic;
  src: url('./010-LabilGrotesk/LabilGroteskLite-LightItalic.woff')
    format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 500;
  font-style: italic;
  src: url('./010-LabilGrotesk/LabilGroteskLite-RegularItalic.woff')
    format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 600;
  font-style: italic;
  src: url('./010-LabilGrotesk/LabilGroteskLite-MediumItalic.woff')
    format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 700;
  font-style: italic;
  src: url('./010-LabilGrotesk/LabilGroteskLite-BoldItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  font-weight: 800;
  font-style: italic;
  src: url('./010-LabilGrotesk/LabilGroteskLite-BlackItalic.woff')
    format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk Variable';
  font-display: swap;
  src:
    url('./900-Variable/LabilGroteskLite-Variable.woff2')
      format('woff2-variations'),
    url('./010-LabilGrotesk/LabilGroteskLite-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 100;
  font-style: normal;
  src: url('./011-StabilGrotesk/StabilGroteskLite-Hairline.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 200;
  font-style: normal;
  src: url('./011-StabilGrotesk/StabilGroteskLite-Fine.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 300;
  font-style: normal;
  src: url('./011-StabilGrotesk/StabilGroteskLite-Thin.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 400;
  font-style: normal;
  src: url('./011-StabilGrotesk/StabilGroteskLite-Light.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 500;
  font-style: normal;
  src: url('./011-StabilGrotesk/StabilGroteskLite-Regular.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 600;
  font-style: normal;
  src: url('./011-StabilGrotesk/StabilGroteskLite-Medium.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 700;
  font-style: normal;
  src: url('./011-StabilGrotesk/StabilGroteskLite-Bold.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 800;
  font-style: normal;
  src: url('./011-StabilGrotesk/StabilGroteskLite-Black.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 100;
  font-style: italic;
  src: url('./011-StabilGrotesk/StabilGroteskLite-HairlineItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 200;
  font-style: italic;
  src: url('./011-StabilGrotesk/StabilGroteskLite-FineItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 300;
  font-style: italic;
  src: url('./011-StabilGrotesk/StabilGroteskLite-ThinItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 400;
  font-style: italic;
  src: url('./011-StabilGrotesk/StabilGroteskLite-LightItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 500;
  font-style: italic;
  src: url('./011-StabilGrotesk/StabilGroteskLite-RegularItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 600;
  font-style: italic;
  src: url('./011-StabilGrotesk/StabilGroteskLite-MediumItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 700;
  font-style: italic;
  src: url('./011-StabilGrotesk/StabilGroteskLite-BoldItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk';
  font-weight: 800;
  font-style: italic;
  src: url('./011-StabilGrotesk/StabilGroteskLite-BlackItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Stabil Grotesk Variable';
  font-display: block;
  src:
    url('./900-Variable/StabilGroteskLite-Variable.woff2')
      format('woff2-variations'),
    url('./011-StabilGrotesk/StabilGroteskLite-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Attila Sans Classic';
  font-weight: 100;
  font-style: normal;
  src: url('./021-AttilaSansClassic/AttilaSansClassicLite-Hairline.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Classic';
  font-weight: 300;
  font-style: normal;
  src: url('./021-AttilaSansClassic/AttilaSansClassicLite-Light.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Classic';
  font-weight: 400;
  font-style: normal;
  src: url('./021-AttilaSansClassic/AttilaSansClassicLite-Regular.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Classic';
  font-weight: 500;
  font-style: normal;
  src: url('./021-AttilaSansClassic/AttilaSansClassicLite-Medium.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Classic';
  font-weight: 600;
  font-style: normal;
  src: url('./021-AttilaSansClassic/AttilaSansClassicLite-Semibold.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Classic';
  font-weight: 700;
  font-style: normal;
  src: url('./021-AttilaSansClassic/AttilaSansClassicLite-Bold.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Classic';
  font-weight: 800;
  font-style: normal;
  src: url('./021-AttilaSansClassic/AttilaSansClassicLite-Black.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Sharp';
  font-weight: 100;
  font-style: normal;
  src: url('./022-AttilaSansSharp/AttilaSansSharpLite-Hairline.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Sharp';
  font-weight: 200;
  font-style: normal;
  src: url('./022-AttilaSansSharp/AttilaSansSharpLite-Thin.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Sharp';
  font-weight: 300;
  font-style: normal;
  src: url('./022-AttilaSansSharp/AttilaSansSharpLite-Light.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Sharp';
  font-weight: 400;
  font-style: normal;
  src: url('./022-AttilaSansSharp/AttilaSansSharpLite-Regular.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Sharp';
  font-weight: 500;
  font-style: normal;
  src: url('./022-AttilaSansSharp/AttilaSansSharpLite-Medium.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Sharp';
  font-weight: 600;
  font-style: normal;
  src: url('./022-AttilaSansSharp/AttilaSansSharpLite-Semibold.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Sharp';
  font-weight: 700;
  font-style: normal;
  src: url('./022-AttilaSansSharp/AttilaSansSharpLite-Bold.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Attila Sans Sharp';
  font-weight: 800;
  font-style: normal;
  src: url('./022-AttilaSansSharp/AttilaSansSharpLite-Black.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 100;
  font-style: normal;
  src: url('./031-VictorNarrow/VictorNarrowLite-Hairline.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 200;
  font-style: normal;
  src: url('./031-VictorNarrow/VictorNarrowLite-Thin.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 300;
  font-style: normal;
  src: url('./031-VictorNarrow/VictorNarrowLite-Light.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 400;
  font-style: normal;
  src: url('./031-VictorNarrow/VictorNarrowLite-Regular.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 500;
  font-style: normal;
  src: url('./031-VictorNarrow/VictorNarrowLite-Medium.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 600;
  font-style: normal;
  src: url('./031-VictorNarrow/VictorNarrowLite-Semibold.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 700;
  font-style: normal;
  src: url('./031-VictorNarrow/VictorNarrowLite-Bold.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 800;
  font-style: normal;
  src: url('./031-VictorNarrow/VictorNarrowLite-Black.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 100;
  font-style: italic;
  src: url('./031-VictorNarrow/VictorNarrowLite-HairlineItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 200;
  font-style: italic;
  src: url('./031-VictorNarrow/VictorNarrowLite-ThinItalic.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 300;
  font-style: italic;
  src: url('./031-VictorNarrow/VictorNarrowLite-LightItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 400;
  font-style: italic;
  src: url('./031-VictorNarrow/VictorNarrowLite-RegularItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 500;
  font-style: italic;
  src: url('./031-VictorNarrow/VictorNarrowLite-MediumItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 600;
  font-style: italic;
  src: url('./031-VictorNarrow/VictorNarrowLite-SemiboldItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 700;
  font-style: italic;
  src: url('./031-VictorNarrow/VictorNarrowLite-BoldItalic.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow';
  font-weight: 800;
  font-style: italic;
  src: url('./031-VictorNarrow/VictorNarrowLite-BlackItalic.woff')
    format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Victor Narrow Variable';
  font-display: block;
  src:
    url('./900-Variable/VictorNarrowLite-Variable.woff2')
      format('woff2-variations'),
    url('./031-VictorNarrow/VictorNarrowLite-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Attila Sans Variable';
  font-display: block;
  src: url('./900-Variable/AttilaSansLite-Variable.woff2')
    format('woff2-variations');
}

@font-face {
  font-family: 'Victor Serif Italic Variable';
  font-display: block;
  src: url('./900-Variable/VictorSerifLite-ItalicVariable.woff2')
    format('woff2-variations');
}

@font-face {
  font-family: 'Victor Narrow Italic Variable';
  font-display: block;
  src: url('./900-Variable/VictorNarrowLite-ItalicVariable.woff2')
    format('woff2-variations');
}

@font-face {
  font-family: 'Victor Serif Preview';
  font-weight: 400;
  font-style: normal;
  src: url('./030-VictorSerif/VictorSerifPreview-40Regular.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif Preview';
  font-weight: 400;
  font-style: italic;
  src: url('./030-VictorSerif/VictorSerifPreview-45RegularItalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 100;
  font-style: normal;
  src: url('./030-VictorSerif/VictorSerifLite-10Hairline.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 100;
  font-style: italic;
  src: url('./030-VictorSerif/VictorSerifLite-15HairlineItalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 200;
  font-style: normal;
  src: url('./030-VictorSerif/VictorSerifLite-20Thin.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 200;
  font-style: italic;
  src: url('./030-VictorSerif/VictorSerifLite-25ThinItalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 300;
  font-style: normal;
  src: url('./030-VictorSerif/VictorSerifLite-30Light.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 300;
  font-style: italic;
  src: url('./030-VictorSerif/VictorSerifLite-35LightItalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 400;
  font-style: normal;
  src: url('./030-VictorSerif/VictorSerifLite-40Regular.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 400;
  font-style: italic;
  src: url('./030-VictorSerif/VictorSerifLite-45RegularItalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 500;
  font-style: normal;
  src: url('./030-VictorSerif/VictorSerifLite-50Medium.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 500;
  font-style: italic;
  src: url('./030-VictorSerif/VictorSerifLite-55MediumItalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 600;
  font-style: normal;
  src: url('./030-VictorSerif/VictorSerifLite-60Semibold.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 600;
  font-style: italic;
  src: url('./030-VictorSerif/VictorSerifLite-65SemiboldItalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 700;
  font-style: normal;
  src: url('./030-VictorSerif/VictorSerifLite-70Bold.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 700;
  font-style: italic;
  src: url('./030-VictorSerif/VictorSerifLite-75BoldItalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 800;
  font-style: normal;
  src: url('./030-VictorSerif/VictorSerifLite-80Black.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif';
  font-weight: 800;
  font-style: italic;
  src: url('./030-VictorSerif/VictorSerifLite-85BlackItalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Victor Serif Variable';
  font-display: block;
  src: url('./900-Variable/VictorSerifLite-Variable.woff2')
    format('woff2-variations');
}

@font-face {
  font-family: Uniforma;
  font-weight: 100;
  font-style: normal;
  src: url('./023-Uniforma/KUniformaPreview-10Hairline.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 100;
  font-style: italic;
  src: url('./023-Uniforma/KUniformaPreview-15HairlineRitalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 200;
  font-style: normal;
  src: url('./023-Uniforma/KUniformaPreview-20Thin.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 200;
  font-style: italic;
  src: url('./023-Uniforma/KUniformaPreview-25ThinRitalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 300;
  font-style: normal;
  src: url('./023-Uniforma/KUniformaPreview-30Extralight.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 300;
  font-style: italic;
  src: url('./023-Uniforma/KUniformaPreview-35ExtralightRitalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 400;
  font-style: normal;
  src: url('./023-Uniforma/KUniformaPreview-40Light.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 400;
  font-style: italic;
  src: url('./023-Uniforma/KUniformaPreview-45LightRitalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 500;
  font-style: normal;
  src: url('./023-Uniforma/KUniformaPreview-50Regular.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 500;
  font-style: italic;
  src: url('./023-Uniforma/KUniformaPreview-55RegularRitalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 600;
  font-style: normal;
  src: url('./023-Uniforma/KUniformaPreview-60Medium.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 600;
  font-style: italic;
  src: url('./023-Uniforma/KUniformaPreview-65MediumRitalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 700;
  font-style: normal;
  src: url('./023-Uniforma/KUniformaPreview-70Semibold.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 700;
  font-style: italic;
  src: url('./023-Uniforma/KUniformaPreview-75SemiboldRitalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 800;
  font-style: normal;
  src: url('./023-Uniforma/KUniformaPreview-80Bold.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 800;
  font-style: italic;
  src: url('./023-Uniforma/KUniformaPreview-85BoldRitalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 900;
  font-style: normal;
  src: url('./023-Uniforma/KUniformaPreview-90Black.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: Uniforma;
  font-weight: 900;
  font-style: italic;
  src: url('./023-Uniforma/KUniformaPreview-95BlackRitalic.woff2')
    format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Uniforma Variable';
  font-weight: 100 900;
  src:
    url('./900-Variable/KUniformaVariableVF.woff2')
      format('woff2 supports variations'),
    url('./900-Variable/KUniformaVariableVF.woff2') format('woff2-variations');
  font-display: block;
}

/* space-grotesk-latin-wght-normal */
@font-face {
  font-family: 'Space Grotesk Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url('./002-SpaceGrotesk/space-grotesk-latin-wght-normal.woff2')
    format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-ext-wght-normal */
@font-face {
  font-family: 'Space Grotesk Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url('./002-SpaceGrotesk/space-grotesk-latin-ext-wght-normal.woff2')
    format('woff2-variations');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* space-grotesk-latin-300-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-300-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-300-normal.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-400-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-400-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-400-normal.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-500-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-500-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-500-normal.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-600-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-600-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-600-normal.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-700-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-700-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-700-normal.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-ext-300-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-300-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-300-normal.woff')
      format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* space-grotesk-latin-ext-400-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-400-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-400-normal.woff')
      format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* space-grotesk-latin-ext-500-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-500-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-500-normal.woff')
      format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* space-grotesk-latin-ext-600-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-600-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-600-normal.woff')
      format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* space-grotesk-latin-ext-700-normal */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-700-normal.woff2')
      format('woff2'),
    url('./002-SpaceGrotesk/space-grotesk-latin-ext-700-normal.woff')
      format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
  --font-geist-sans: 'Geist Sans';
  --font-geist-mono: 'Geist Mono';
  --font-labil-grotesk: 'Labil Grotesk Variable';
  --font-ibm-plex-mono: 'IBM Plex Mono';
}
