.dark,
.dark-theme {
  --blueA1: #004df211;
  --blueA2: #1166fb18;
  --blueA3: #0077ff3a;
  --blueA4: #0075ff57;
  --blueA5: #0081fd6b;
  --blueA6: #0f89fd7f;
  --blueA7: #2a91fe98;
  --blueA8: #3094feb9;
  --blueA9: #0090ff;
  --blueA10: #3b9eff;
  --blueA11: #70b8ff;
  --blueA12: #c2e6ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --blueA1: color(display-p3 0 0.333 1 / 0.059);
      --blueA2: color(display-p3 0.114 0.435 0.988 / 0.085);
      --blueA3: color(display-p3 0.122 0.463 1 / 0.219);
      --blueA4: color(display-p3 0 0.467 1 / 0.324);
      --blueA5: color(display-p3 0.098 0.51 1 / 0.4);
      --blueA6: color(display-p3 0.224 0.557 1 / 0.475);
      --blueA7: color(display-p3 0.294 0.584 1 / 0.572);
      --blueA8: color(display-p3 0.314 0.592 1 / 0.702);
      --blueA9: color(display-p3 0.251 0.573 0.996 / 0.967);
      --blueA10: color(display-p3 0.357 0.631 1 / 0.971);
      --blueA11: color(display-p3 0.49 0.72 1);
      --blueA12: color(display-p3 0.788 0.898 0.99);
    }
  }
}
