:root,
.light,
.light-theme {
  --mauveA1: #55005503;
  --mauveA2: #2b005506;
  --mauveA3: #30004010;
  --mauveA4: #20003618;
  --mauveA5: #20003820;
  --mauveA6: #14003527;
  --mauveA7: #10003332;
  --mauveA8: #08003145;
  --mauveA9: #05001d73;
  --mauveA10: #0500197d;
  --mauveA11: #0400119c;
  --mauveA12: #020008e0;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --mauveA1: color(display-p3 0.349 0.024 0.349 / 0.012);
      --mauveA2: color(display-p3 0.184 0.024 0.349 / 0.024);
      --mauveA3: color(display-p3 0.129 0.008 0.255 / 0.063);
      --mauveA4: color(display-p3 0.094 0.012 0.216 / 0.095);
      --mauveA5: color(display-p3 0.098 0.008 0.224 / 0.126);
      --mauveA6: color(display-p3 0.055 0.004 0.18 / 0.153);
      --mauveA7: color(display-p3 0.067 0.008 0.184 / 0.197);
      --mauveA8: color(display-p3 0.02 0.004 0.176 / 0.271);
      --mauveA9: color(display-p3 0.02 0.004 0.106 / 0.451);
      --mauveA10: color(display-p3 0.012 0.004 0.09 / 0.491);
      --mauveA11: color(display-p3 0.016 0 0.059 / 0.612);
      --mauveA12: color(display-p3 0.008 0 0.027 / 0.879);
    }
  }
}
