:root,
.light,
.light-theme {
  --pink1: #fffcfe;
  --pink2: #fef7fb;
  --pink3: #fee9f5;
  --pink4: #fbdcef;
  --pink5: #f6cee7;
  --pink6: #efbfdd;
  --pink7: #e7acd0;
  --pink8: #dd93c2;
  --pink9: #d6409f;
  --pink10: #cf3897;
  --pink11: #c2298a;
  --pink12: #651249;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --pink1: color(display-p3 0.998 0.989 0.996);
      --pink2: color(display-p3 0.992 0.97 0.985);
      --pink3: color(display-p3 0.981 0.917 0.96);
      --pink4: color(display-p3 0.963 0.867 0.932);
      --pink5: color(display-p3 0.939 0.815 0.899);
      --pink6: color(display-p3 0.907 0.756 0.859);
      --pink7: color(display-p3 0.869 0.683 0.81);
      --pink8: color(display-p3 0.825 0.59 0.751);
      --pink9: color(display-p3 0.775 0.297 0.61);
      --pink10: color(display-p3 0.748 0.27 0.581);
      --pink11: color(display-p3 0.698 0.219 0.528);
      --pink12: color(display-p3 0.363 0.101 0.279);
    }
  }
}
