:root,
.light,
.light-theme {
  --red1: #fffcfc;
  --red2: #fff7f7;
  --red3: #feebec;
  --red4: #ffdbdc;
  --red5: #ffcdce;
  --red6: #fdbdbe;
  --red7: #f4a9aa;
  --red8: #eb8e90;
  --red9: #e5484d;
  --red10: #dc3e42;
  --red11: #ce2c31;
  --red12: #641723;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --red1: color(display-p3 0.998 0.989 0.988);
      --red2: color(display-p3 0.995 0.971 0.971);
      --red3: color(display-p3 0.985 0.925 0.925);
      --red4: color(display-p3 0.999 0.866 0.866);
      --red5: color(display-p3 0.984 0.812 0.811);
      --red6: color(display-p3 0.955 0.751 0.749);
      --red7: color(display-p3 0.915 0.675 0.672);
      --red8: color(display-p3 0.872 0.575 0.572);
      --red9: color(display-p3 0.83 0.329 0.324);
      --red10: color(display-p3 0.798 0.294 0.285);
      --red11: color(display-p3 0.744 0.234 0.222);
      --red12: color(display-p3 0.36 0.115 0.143);
    }
  }
}
