.dark,
.dark-theme {
  --tealA1: #00deab05;
  --tealA2: #12fbe60c;
  --tealA3: #00ffe61e;
  --tealA4: #00ffe92d;
  --tealA5: #00ffea3b;
  --tealA6: #1cffe84b;
  --tealA7: #2efde85f;
  --tealA8: #32ffe775;
  --tealA9: #13ffe49f;
  --tealA10: #0dffe0ae;
  --tealA11: #0afed5d6;
  --tealA12: #b8ffebef;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --tealA1: color(display-p3 0 0.992 0.761 / 0.017);
      --tealA2: color(display-p3 0.235 0.988 0.902 / 0.047);
      --tealA3: color(display-p3 0.235 1 0.898 / 0.118);
      --tealA4: color(display-p3 0.18 0.996 0.929 / 0.173);
      --tealA5: color(display-p3 0.31 1 0.933 / 0.227);
      --tealA6: color(display-p3 0.396 1 0.933 / 0.286);
      --tealA7: color(display-p3 0.443 1 0.925 / 0.366);
      --tealA8: color(display-p3 0.459 1 0.925 / 0.454);
      --tealA9: color(display-p3 0.443 0.996 0.906 / 0.61);
      --tealA10: color(display-p3 0.439 0.996 0.89 / 0.669);
      --tealA11: color(display-p3 0.388 0.835 0.719);
      --tealA12: color(display-p3 0.734 0.934 0.87);
    }
  }
}
