---
import { PageFile } from '@prodkt/ui/prodkt-components/file'

// import FileFolder from '@prodkt/ui/prodkt-components/file-folder'

import Layout from '@/layouts/PublicLayout.astro'

import PageHeader from '../../components/page-header.astro'
import { GET } from './index.json'

const response = await GET(Astro)
const data = (await response.json()) as any
---

<Layout>
  <div
    class='flex flex-col items-stretch justify-stretch px-6 gap-6 sm:px-12 lg:px-16 lg:gap-12 py-20 sm:py-24'
  >
    <PageHeader minimal fullWidth text='Files' />
    <div
      class='flex flex-row flex-wrap items-center space-x-0 justify-start gap-4'
    >
      {
        data ? (
          data.fileData.map((item: any) => (
            <PageFile
              client:only='react'
              title={item.title}
              downloadLink={item.src.filename_download ?? null}
              src={item.src.filename_disk ?? null}
              fileSrc={
                item.type === 'file-svg'
                  ? '56c87434-0b8f-4734-b5ff-bbcb3c67fa53.avif'
                  : item.type === 'file-json'
                    ? 'c4ed0469-368d-401f-8fe7-2ed9b161916d.svg'
                    : item.type === 'file-spline'
                      ? 'f6894a58-ed38-4668-a9f4-8f0ca5b563cf.avif'
                      : item.type === 'file-figma'
                        ? '8ac073c4-7ffa-4b92-b58e-4a9509e33028.avif'
                        : item.type === 'file-color'
                          ? 'e1df2bfe-5249-47d2-8286-e1d5aeb4989c.svg'
                          : item.type === 'file-html'
                            ? '7cd7d324-b211-4e5e-bcd6-b61966a810f9.avif'
                            : item.type === 'file-css'
                              ? 'fa3b4bb7-0346-4626-adc4-229ca1076bd1.avif'
                              : '7055699f-8a61-48b7-9bb7-3ef8d1aa48d9.avif'
              }
            />
          ))
        ) : (
          <p>Loading...</p>
        )
      }
    </div>
  </div>
</Layout>

<style>
  .cube:hover {
    transform: scaleX(1) scaleY(1) scaleZ(2.5) rotateX(33deg) rotateY(0deg)
      rotateZ(0deg) translateX(0px) translateY(41px) translateZ(-83px)
      skewX(0deg) skewY(0deg);
  }

  .cube:has(:hover) .cube-text {
    transform: scaleX(1) scaleY(1) scaleZ(1.9) rotateX(9deg) rotateY(0deg)
      rotateZ(0deg) translateX(0px) translateY(32px) translateZ(-55px)
      skewX(0deg) skewY(0deg);
  }
  .cube-wrap {
    perspective: 1001px;
    perspective-origin: 49% 50%;
  }
</style>
