---
import { renderComponentToString } from '@/components/dynamic-imports/render'

const componentName = 'Ampersand' // Example component name
const result = renderComponentToString(componentName)
---

<html
  lang='en'
  data-is-root-theme='true'
  data-accent-color='violet'
  data-gray-color='mauve'
  data-has-background='false'
  data-panel-background='translucent'
  data-radius='large'
  data-scaling='100%'
  class='radix-themes dark-theme dark'
>
  <head>
    <link rel='stylesheet' type='css' href='../styles/fonts/prodktFonts.css' />
    <link
      rel='stylesheet'
      type='css'
      href='codeblocks/leveln/leveln-output.css'
    />
  </head>
  <body>
    <iframe
      class='customLevelnLayout w-full h-full min-h-screen isolate bg-[var(--gray1)] rounded-2xl overflow-hidden border border-[var(--grayA4)] pr-0 ml-0.5 max-h-[calc(100dvh_-_192px)]'
      srcdoc={result}
      sandbox='allow-popups-to-escape-sandbox allow-scripts allow-popups allow-forms allow-pointer-lock allow-top-navigation allow-modals'
    ></iframe>
  </body>
</html>
