@import '@prodkt/assets/fonts/index.css';

:root {
  --font-theme-sans: var(--font-labil-grotesk);
  --font-theme-mono: var(--font-ibm-plex-mono);
}

[data-typography='prodkt'],
.radix-themes:where([data-typography='prodkt']) {
  --font-theme-sans: var(--font-labil-grotesk);
  --font-theme-mono: var(--font-ibm-plex-mono);
}
[data-typography='trendy'],
.radix-themes:where([data-typography='trendy']) {
  --font-theme-sans: var(--font-dm-sans-variable);
  --font-theme-mono: var(--font-ibm-plex-mono);
}
[data-typography='techy'],
.radix-themes:where([data-typography='techy']) {
  --font-theme-sans: var(--font-space-grotesk);
  --font-theme-mono: var(--font-jetbrains-mono-variable);
}
[data-typography='press'],
.radix-themes:where([data-typography='press']) {
  --font-theme-sans: var(--font-dm-sans-variable);
  --font-theme-mono: var(--font-dm-mono);
}
[data-typography='giest'],
.radix-themes:where([data-typography='giest']) {
  --font-theme-sans: var(--font-geist-sans);
  --font-theme-mono: var(--font-geist-mono);
}
[data-typography='steady'],
.radix-themes:where([data-typography='steady']) {
  --font-theme-sans: var(--font-figtree-variable);
  --font-theme-mono: var(--font-jetbrains-mono-variable);
}
