@import './codeblock.scss';
/* @import '@prodkt/tailwind/color'; */
@import '@prodkt/tailwind/color';
@import '@prodkt/tailwind/typography';
@import '@prodkt/assets/fonts/index.css';
@import './flow-board.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply transition-all duration-500 will-change-auto;
}
body[data-scroll-locked] {
  @apply !p-4 transition-all duration-300 h-[calc(100dvh_-_32px)];
}
body[data-scroll-locked] .prodkt-provider {
  @apply rounded-3xl transition-all duration-300 blur-sm sm:blur-none h-[calc(100dvh_-_32px)];
}

body[data-scroll-locked] div:has(.fixed, [role='dialog']),
body[data-scroll-locked]
  [data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='bottom'][data-state='open'] {
  @apply !inset-x-[16px] rounded-3xl bottom-[16px] overflow-hidden;
}

[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='bottom'][data-state='closed'] {
  @apply !inset-x-[16px] rounded-3xl bottom-[0px] overflow-hidden;
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply text-foreground font-sans;
  }
}

.header-bg {
  background: var(
    --gradient--alphaLinear-2,
    linear-gradient(180deg, var(--gray4) -46.44%, var(--gray3) 207.35%)
  );
}

.footer-bg {
  background: var(
    --gradient--alphaLinear-2,
    linear-gradient(180deg, var(--gray3) -46.44%, var(--gray2) 207.35%)
  );
}

.card-mask {
  mask-image: radial-gradient(
    164.24% 99.54% at 50% 109.77%,
    rgba(255, 255, 255, 0) 10.93%,
    rgba(255, 255, 255, 0.49) 67.34%,
    #fff 100%
  );
  -webkit-mask-image: radial-gradient(
    164.24% 99.54% at 50% 109.77%,
    rgba(255, 255, 255, 0) 10.93%,
    rgba(255, 255, 255, 0.49) 67.34%,
    #fff 100%
  );
}

.scrollbarGutter-stable {
  scrollbar-gutter: stable;
}
.scrollbarGutter-stableEdges {
  scrollbar-gutter: stable both-edges;
}

::-webkit-resizer {
  background-color: transparent !important;
  border: 0px solid transparent !important;
}

::-webkit-scrollbar {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  width: 5px !important;
  height: 5px !important;
  border-radius: 9999px !important;
}
::-webkit-scrollbar-button {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  border-radius: 9999px !important;
}
::-webkit-scrollbar-corner {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  border-radius: 9999px !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray8) !important;
  border: 0px solid var(--grayA2) !important;
  border-radius: 9999px !important;
}
::-webkit-scrollbar-track {
  background-color: var(--gray5) !important;
  border: 0px solid var(--gray5) !important;
  border-right-width: 0 !important;
  border-radius: 9999px !important;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  border-radius: 9999px !important;
}

.prodkt-mobile-navigation-button {
  display: flex;
  width: var(--Spacing-9, 64px);
  height: var(--Spacing-9, 64px);
  min-height: var(--Spacing-9, 64px);
  padding: 14px;
  justify-content: center;
  align-items: center;
  overflow: visible;
  gap: 8px;
  border-radius: 2.5rem !important;
  @apply ring-[2px] ring-offset-1 border ring-[var(--grayA5)] border-[var(--grayA6)] shadow-inner;

  background: radial-gradient(
      101.08% 100% at 50% 100%,
      rgba(94, 94, 94, 0.32) 0%,
      rgba(94, 94, 94, 0.01) 73.85%
    ),
    radial-gradient(
      100.02% 100% at 50% 100%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0.01) 68.75%
    ),
    radial-gradient(
      100.02% 100% at 50% 100%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 55.59%
    ),
    radial-gradient(
      100.02% 100% at 50% 100%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0.08) 55.59%
    );

  background-blend-mode: color-dodge, normal, normal, normal;
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 8px -3px var(--ghost-aa4);

  &:after,
  & :after {
    border-radius: 2.4rem !important;
    @apply ring-[transparent] hover:border-[transparent] !important;
    overflow: hidden;
  }
  &:before,
  & :before {
    border-radius: 2.4rem !important;
    @apply ring-[transparent] hover:border-[transparent] !important;
    overflow: hidden;
  }

  &.themeColor {
    border-radius: 2.5rem 2.5rem 5rem 5rem !important;
    height: auto !important;
    width: auto !important;
    max-width: 154px !important;
  }

  &.themeing {
    width: var(--Spacing-9, 56px) !important;
    height: var(--Spacing-9, 56px) !important;
    min-height: var(--Spacing-9, 56px) !important;
    background: radial-gradient(
        101.08% 100% at 50% 100%,
        var(--gray3) 0%,
        var(--gray5) 73.85%
      ),
      radial-gradient(
        100.02% 100% at 50% 100%,
        var(--gray3) 0%,
        var(--gray6) 68.75%
      ),
      radial-gradient(
        100.02% 100% at 50% 100%,
        var(--gray3) 0%,
        var(--gray1) 55.59%
      ),
      radial-gradient(
        100.02% 100% at 50% 100%,
        var(--gray3) 0%,
        var(--gray2) 55.59%
      );
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 8px -3px var(--ghost-a4);
  }
}

.prodkt-blog-content {
  @apply gap-4 flex flex-col;
  & p {
    @apply text-balance leading-loose text-[var(--gray11)] mb-6;
  }
  & h2 {
    @apply text-5xl font-light tracking-tighter;
  }
  & h3 {
    @apply text-3xl font-light tracking-tighter;
  }
  & hr {
    @apply my-6;
  }
}

.prodkt-blog-content a {
  @apply text-[var(--accent10)] font-normal underline underline-offset-4 !important;
}

.prodkt-changelog-accordion {
  & h3 {
    @apply !mb-0;
    & p {
      @apply mb-0 text-sm tracking-normal;
    }
  }
}

.about-prodkt-heading {
  background: linear-gradient(
    180deg,
    var(--grayA12) -0.14%,
    var(--gray12) 57.35%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    /* 0px 10.127px 104.764px var(--grayA1),
    0px 146.982px 87.564px var(--blueA1),
    0px 65.673px 65.673px var(--gray1),
    0px 15.636px 95.964px var(--gray1), */ 0px
    4px 140.2px var(--iris1);
}
