---
import type { Database } from '@/database.types'

import Layout from '@/layouts/PublicLayout.astro'

import PageHeader from '../../../../components/page-header.astro'
import { GET } from './index.json'

type Repos = Database['public']['Tables']['repos']['Row']

interface RepoData {
  repo: {
    repoData: Repos[]
  }
}
const response = await GET(Astro)
const data = (await response.json()) as RepoData
---

<Layout>
  <PageHeader
    text='Repos'
    bullet1='Design'
    bullet2='Previous works'
    bullet3='Visuals'
    bullet4='Concepts'
  />
  <div
    class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 items-stretch space-x-0 justify-stretch gap-6 xl:gap-16'
  >
    <p class='text-8xl'>
      {data.repo.repoData[0]?.title}
    </p>
  </div>
</Layout>
