---
import Onboarding from '@/components/_layout/onboarding'
import ProjectDropdown from '@/components/_layout/project-dropdown'
import Layout from '@/layouts/PublicLayout.astro'

import { GET } from './index.json'

const response = await GET(Astro)
const data = (await response.json()) as any
---

<Layout>
  <div class='flex flex-col items-center justify-center gap-4 size-full'>
    <Onboarding client:only='react' />
    <ProjectDropdown
      activeProject={data.projectData}
      projects={data.projectData}
      client:only='react'
    />
  </div>
</Layout>
